option_settings:
  # 对于Amazon Linux 2023和Node.js 22，使用以下命名空间
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
  aws:elasticbeanstalk:application:environment:
    NPM_START: "npm start"
  # 设置Node命令的新方法
  aws:elasticbeanstalk:container:nodejs:
    NodeVersion: 22
    ProxyServer: nginx
